html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: rgb(222, 243, 255);
}

body{
    display: flex;
}

.navbar{
    display: flex;
    width: 100%;
    height: 75px;
    justify-content: flex-start;
    align-items: center;
}

li a{
    display: flex;
    color: cornflowerblue;
    text-decoration: none;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    padding: 23px 20px;
}

ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 1.1rem;
}

a:hover{
    border-bottom: 1px solid cornflowerblue;
}